@import './base.css';

.text-midnightblue {
    color: var(--midmightblue);
}
.text-lightblue {
    color: var(--lightblue);
}
.bg-midnightblue {
    background-color: var(--midmightblue);
}
.fs-1x {
    font-size: 1.5rem;
}
.text-lightblue-hover-light:hover {
    color: var(--bs-light);
    transition: .5s ease-in;
}
.transition-1x {
    transition: .5s ease-in-out;
}

.fade-in-down {
    animation-name: fade-in-down;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
  
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(-20px);
    }
  }
  